.section {
  max-width: 600px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 32px;
  list-style-type: none;
  padding: 0;
}

.container {
  max-height: 756px;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.container::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.tabs{
  display: flex;
}