.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    list-style: none;
    text-align: center;
    margin: 0 0 60px;
    padding: 0;
    width: 520px;
  }
  
  .figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img {
    width: 480px;
    height: 240px;
  }
  
  .caption {
    text-align: center;
  }