.section {
  max-width: 600px;
  max-height: 912px;
  display: flex;
  flex-direction: column;
  min-width: 590px;

}

.section-container {
  display: flex;
  flex-direction: column;
}

.list {
  max-height: 464px;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  overflow-y: scroll;
  scrollbar-color: #8585AD #2F2F37;
  min-height: 50px;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.section-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}